body{
  background-image: url('/images/mozart_back.jpg');
}
@media  (min-width: 1001px){ 
	body{
		background-size: 110% !important;
	}
	
}
@media (max-width: 1000px ) and (min-width: 801px ){
	body{
		background-size: 170% !important;
	}
}
@media (max-width: 800px) and (min-width: 501px) {
	body{
		background-size: 200% !important;
		
	}
}
@media (max-width: 500px)  {
	body{
		background-size: 280% !important;
		
	}
}

#yandex_map{
	margin-top: 40px;
	margin-bottom: 40px;
}
#con_contact{
	margin-top: 60px;
	margin-bottom: 40px;
}

#con_contact_information li{
	margin-top: 5px;
	font-size: 16px;
	list-style-type: none;
	color: white;
}
#con_contact_information li a{
	color: white;
}
#con_contact_information span{
	margin-right: 3px;
	margin-top: -4px;
}

#con_socials li{
	display: inline-block;
	margin-right: 5px;
	color: white;
	font-size: 20px;
	list-style-type: none;
}
#con_socials li img{
	border-radius: 5px;
	width: 40px;
}