body{
  background-image: url('/images/mozart_back1.jpg');
}
@media  (min-width: 1001px){ 
	body{
		background-size: 110% !important;
	}
	
}
@media (max-width: 1000px ) and (min-width: 801px ){
	body{
		background-size: 170% !important;
	}
}
@media (max-width: 800px) and (min-width: 501px) {
	body{
		background-size: 200% !important;
		
	}
}
@media (max-width: 500px)  {
	body{
		background-size: 280% !important;
		
	}
}

body{
	min-width: 320px;
	background-color: black;
	background-repeat: repeat-y;
	background-attachment: fixed;
	font-family: "book antiqua", "bookman old style" !important;
}
*{
	font-family: "book antiqua", "bookman old style" !important;
}

@media  (min-width: 801px ){
	body{
		background-size: 100% !important;
	}
}
@media (max-width: 800px) and (min-width: 501px) {
	body{
		background-size: 140% !important;
		
	}
}
@media (max-width: 500px)  {
	body{
		background-size: 200% !important;
		
	}
}
.grid{
	margin: 0 !important;
}



#upstair{
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: black;
	color: white;
	
	/*font-family: "book antiqua", "bookman old style" !important;*/
}
.head_functions{
	text-align: center;
}
.mif-wifi-full{
	color: rgba(70, 230, 70, 1)
}
#shedule{
	margin-top: 5px;
}
#visa_master{
	height: 25px;
	margin-top: 3px;
	padding: 0px;
}


#home_block{
	height: 155px;
	background-color: rgba(0, 0, 0, 0.4);
	color: red;
}

#home_block img{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 145px;
	margin-top: 5px;
	margin-left: 2.95%;
}
#promo{
	float: right;
	margin-right: 8%;
}
#menu{
	font-family: "book antiqua", "bookman old style" !important;
	margin-left: 3%;
	background-color: rgba(0, 0, 0, 0);
}
#afisha{
	background-color: rgb(253,127,17);
}
.main_menu{
	
}
.main_menu ul li a{
	border: 1px solid rgb(206,53,44);
}
.main_menu ul li a:hover{
	background-color: rgb(206,53,44) !important;
}
.main_menu ul li:hover {
	color: black;
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.main_menu ul{
	
}
.main_menu ul li{
	padding: 2px;
	
}

.events_menu ul li a{
	background-color: rgba(216,53,44,0.6) !important;
	color: white !important;
}
.events_menu ul li a:hover{
	background-color: rgba(216,53,44,0.9) !important;
	color: white !important;
}
.events_menu ul li{
	background-color: rgba(0, 0, 0, 0.8) !important;
}

@media  (min-width: 801px ) {
		
		.main_menu{
			width: 93px !important;
			height: 93px !important;
		}
		.main_menu>a{
			padding: 0px !important;
			position: relative !important;
			text-align: center !important;
			width: 100% !important;
			height: 100% !important;
			font-size: 14px !important;
		}
		.main_menu a img{
			position: relative !important;
			top: 10px !important;
			width: 50% !important;
		}
		.main_menu ul{
			/*margin-left: -50px !important;*/
		}
		
		.main_menu ul li a{
			text-align: center !important;
			padding: 10px !important;
		}
		
		.hover_elem:hover img{
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			-o-transform-style: preserve-3d;
			transform-style: preserve-3d;
			transition: transform 0.7s;
			transform: rotateY( 180deg );
		}
		.main_menu a.dropdown-toggle::before{
			display: none !important;
		}
		.events_menu a.dropdown-toggle::before{
			display: block !important;
		}
}




@media  (max-width: 800px ) { 
	.main_menu a img{
		display: none;
		position: absolute;
		width: 0%;
	}
	br{
		display: none;
	}
	
}


/*arrow for scroll up page*/
#top{
	bottom: 0;
	cursor: pointer;
	display: none;
	font-size: 250%;
	position: fixed;
	color: white;
	right: 0;
	margin-right: 6%;
	margin-bottom: 40px;
	z-index: 100000;
}

.basic_block{
	margin-top: 40px !important;
	margin-left: 4% !important;
	margin-right: 4% !important;
	background-color: rgba(0, 0, 0, 0.5);
}
.chapters{
	font-size: 30px;
	margin-top: 50px;
	color: white;
	font-family: "book antiqua", "bookman old style" !important;
}


//library - galery
/* Glisse: Overlay */
#glisse-overlay {
    background: rgba(0,0,0.3);
}

#glisse-close {
    height: 40px;
    width: 40px;
    text-align: center;
    position: fixed;
    background-image: url('../menu_icons/close.png');
    background-size: 100%;
    top:20px;
    right:30px;
    background-color: black;
}



/* Prev/Next button */
.glisse-next a, .glisse-prev a {
    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    color: white;
    font-size: 20px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.glisse-next a {
    left: 50%;
    margin-left: 20px; 
}

.glisse-prev a {
  left: 50%;
  margin-left: -40px; 
}

/* Legend */
.glisse-legend {
  position:fixed;
  display:block;
  bottom:10px;
  left:10px;
  color:white;
  background:blue; 
}
#glisse-download_image{
    position:fixed;
    display:block;
    top: 30px;
    left:30px;
    color:white;
    font-size: 18px;
    text-decoration: underline;
}