body{
	background-size: 100%;
	min-width: 360px;
	background-color: black;
	background-repeat: no-repeat;
	background-image: url('/images/Bord_final_Strelka_Adress1.jpg');
}
.grid{
	margin: 0 !important;
}

#upstair{
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: black;
	color: white;
	opacity: 0.95;
	.head_functions{
		text-align: center;
	}
}
#shedule{
	margin-top: 5px;
}


#home_block{
	height: 155px;
	background-color: rgba(0, 0, 0, 0.4);
	color: red;

	img{
		height: 90%;
		margin-top: 5px;
		margin-left: 10%;
	}
}

nav{
	#menu{
		background-color: rgba(0, 0, 0, 0.0);
		li{

			width: 150px;
			height: 100px;

		}
		li a{
			position: relative;
			text-align: center;
			width: 100%;
			height: 100%;
			font-size: 15px !important;
		}
		li a img{

		}

	}
}