body{
	background-image: url('/images/mozart_back.jpg');
}
@media  (min-width: 1001px){ 
	body{
		background-size: 110% !important;
	}
	
}
@media (max-width: 1000px ) and (min-width: 801px ){
	body{
		background-size: 170% !important;
	}
}
@media (max-width: 800px) and (min-width: 501px) {
	body{
		background-size: 200% !important;
		
	}
}
@media (max-width: 500px)  {
	body{
		background-size: 280% !important;
		
	}
}
#rules{
	font-family: "Segoe UI", "Open Sans", sans-serif, serif;
	margin-bottom: 40px;
	background-color: rgba(0, 0, 0, 0.65);
	border-radius: 10px;
	color: white;
	margin-top: 40px !important;
	margin-left: 4% !important;
	margin-right: 4% !important;
	font-size: 17px;
}
#rules h4{
	font-weight: 400;

}
#rules p{
	
}
#rules ul{
}
.first_level_list {
}
.first_level_list > li{
	
	list-style-type: upper-roman;
}
.double_level_list > li{
	list-style-type: decimal;
}
.third_level_list >li{
	list-style-type: lower-alpha;
}
#sanctions_table{
	display: none;
}
#open_sanctions_button{
	cursor: pointer;
	text-decoration: underline;
}
#sanctions_table th{
	font-weight: 500;
	color: white;
}
#rules_info{
	margin-left: 5%;
	margin-right: 5%;
	color: white;
	margin-bottom: 50px;
}

